.Api {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2rem;
  background-color: #fff;
}

.ApiContent {
}

.ApiHeader {
  color: #ec5f67;
  font-family: monospace;
  font-size: 1.5rem;
}

.ApiPropList {
}

.ApiPropType {
  line-height: 2rem;
}

.ApiPropType {
  font-family: monospace;
  font-weight: bold;
}

.ApiPropDefinition {
}
