.ExampleWrapper {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0;
  overflow: auto;
  background: #263238; /* Codemirror theme */
  box-sizing: border-box;
}

.Example {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2rem;
  flex: 1;
}

.ExampleDemo {
  flex: 0 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0 2rem 2rem 0;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 1.5rem;
}

.ExampleButton {
  margin-bottom: 0.5rem;
}

.ExampleCode {
  flex: 1 1 auto;
}

.Grid,
.List {
  border: 1px solid #d9dddd;
}

.GridItem,
.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f8f8f0;
}

.TryItOutLink {
  margin-top: 1rem;
}
