@source "node_modules/react-lib-tools";

@import "tailwindcss";
@import "react-lib-tools/styles.css";

@theme {
  --color-background-gradient-1: var(--color-emerald-400);
  --color-background-gradient-2: var(--color-indigo-500);
  --color-background-gradient-3: var(--color-emerald-400);
  --color-common-question-header: var(--color-indigo-100);
  --color-focus-1: var(--color-teal-300);
  --color-focus-2: var(--color-teal-400);
  --color-focus-3: var(--color-teal-500);
}
