@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;

  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
  background-color: var(--color-sky-500);
  background: linear-gradient(
    to right,
    var(--color-sky-500),
    var(--color-emerald-400)
  );
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  transition: all 250ms;

  outline: none;
}

main {
  a {
    color: var(--color-teal-400);
    &:hover {
      color: var(--color-teal-300);
    }
  }
}

*[data-focus] {
  border: 2px solid transparent;
  &:focus {
    border: 2px solid var(--color-teal-300);
  }
}

*[data-focus-within] {
  border: 2px solid transparent;
  &:focus-within {
    border: 2px solid var(--color-teal-300);
  }

  &[data-focus-within="bold"] {
    border-color: var(--color-teal-600);
    &:focus-within {
      border: 2px solid var(--color-teal-300);
    }
  }
}
