.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Main {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 37.5rem) {
  .App {
    flex-direction: column;
  }
}
