.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid transparent;
  height: 40px;
  padding: 0;
  transition-property: background-color, border-color;
}

.bar {
  background: #000;
  display: block;
  height: 4px;
  width: 2rem;
  margin: 0;
  padding: 0;
  transition: all 200ms;
  border-radius: 4px;
}

.bar:nth-child(2) {
  opacity: 1;
}

.bar + .bar:not(:first-child) {
  margin-top: 5px;
}
