@source "../../tests";

@import "tailwindcss";

@layer base {
  h1 {
    @apply mb-4 text-4xl font-bold tracking-tight text-gray-900;
  }
  ul {
    @apply list-disc pl-6;
  }
  ol {
    @apply list-decimal pl-6;
  }
  p {
    @apply mb-2 mt-2;
  }
  a {
    @apply text-blue-600 hover:text-pink-400 visited:text-blue-900;
  }
}

#root {
  height: 100vh;
}
