.ExampleWrapper {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0;
  overflow: auto;
  background: #263238; /* Codemirror theme */
  box-sizing: border-box;
}

.Example {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2rem;
  flex: 1;
}

.ExampleDemo {
  flex: 1 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  margin: 0 2rem 2rem 0;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 1.5rem;
}

.ExampleButton {
  margin-bottom: 0.5rem;
}

.ExampleCode {
  flex: 1 1 auto;
  max-width: 100%;
  overflow: hidden;
}

.Note {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.15rem;
  margin: 0 2rem 2rem 0;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5rem 1.5rem;
  color: #fff;
  background-color: #ff5370;
}

.NoteIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  fill: currentColor;
}

.NoteLink {
  font-family: monospace;
  color: inherit;
  text-decoration: none;
}

.TryItOutLink {
  margin-top: 1rem;
}

.ExampleHeader {
  display: none;
  flex: 0 0 auto;
  background-color: #fff;
  font-weight: lighter;
  font-size: 2rem;
  padding: 2rem 2rem 0 2rem;
  margin: 0;
}

.Grid,
.List {
  border: 1px solid #d9dddd;
}

.GridItemEven,
.GridItemOdd,
.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.DynamicColumnEven,
.DynamicColumnOdd,
.DynamicRowEven,
.DynamicRowOdd {
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
}
.DynamicColumnEven,
.DynamicColumnOdd {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.DynamicColumnEven,
.DynamicRowEven,
.GridItemEven,
.ListItemEven {
  background-color: #f8f8f0;
}

.ListColumn {
  white-space: pre;
  word-wrap: nowrap;
  align-items: center;
}

.DynamicColumnAvatar,
.DynamicRowAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  line-height: 2.5rem;
  text-align: center;
}

.DynamicColumnText,
.DynamicRowText {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.DynamicColumnText {
  white-space: nowrap;
}

@media (max-width: 37.5rem) {
  .ExampleWrapper {
    padding: 0;
  }

  .ExampleHeader {
    display: block;
  }

  .Example {
    margin-bottom: 0;
  }

  .ExampleDemo {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .ExampleCode {
    padding: 1rem;
  }

  .Note {
    border-top: 2rem solid #fff;
    display: flex;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
