.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.SideNav {
  display: inline-block;
  width: 16rem;
  padding: 0 1rem 1rem;
  background-color: #e9eded;
}

.SideNavHeader {
  font-weight: lighter;
  font-size: 2rem;
  margin: 1.5rem 0 0.5rem;
}

.SideNavSectionHeader {
  margin: 1.5rem 0 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #537f7e;
}

.SideNavLinkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.SideNavLinkListItem {
  padding-left: 1rem;
  line-height: 2rem;
}

.SideNavLink {
  text-decoration: none;
  color: #000;
}
.SideNavLink:hover {
  text-decoration: underline;
}

.SideNavLinkActiveLight,
.SideNavLinkActiveDark {
  display: block;
  position: relative;
  color: #ff5370;
}
.SideNavLinkActiveLight:after,
.SideNavLinkActiveDark:after {
  display: inline-block;
  content: ' ';
  height: 0px;
  position: absolute;
  right: -1rem;
  width: 0px;
  border-bottom: 0.75rem solid transparent;
  border-top: 0.75rem solid transparent;
}
.SideNavLinkActiveLight:after {
  border-right: 0.75rem solid #fff;
}
.SideNavLinkActiveDark:after {
  border-right: 0.75rem solid #263238;
}

.Main {
  flex: 1;
  overflow: auto;
}
