.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  height: auto;
}

.CodeMirror .CodeMirror-line-highlight {
  background-color: #162228;
}

/* Material theme overrides */
.cm-s-material .cm-comment {
  color: #647e8a;
}

/* Accessibility/Lighthouse tweak */
div.cm-s-material .cm-tag {
  color: #ff7588;
}
