.SideNav {
  display: inline-block;
  width: 15rem;
  padding: 0 1rem 1rem;
  background-color: #e9eded;
  box-sizing: border-box;
  max-height: 100vh;
  overflow: auto;
}

.SidebarNavHeaderContainer {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 1.5rem 0 0.5rem;
}

.SideNavHeader {
  margin: 0;
  font-weight: lighter;
  font-size: 2rem;
}

.SideNavHeaderLink {
  text-decoration: none;
  color: inherit;
}

.SidebarNavContent {
  display: flex;
  flex-direction: column;
  overflow: inherit;
  transition: none;
}

.SidebarNavContent > div {
  flex: 1;
}

@media (max-width: 25rem) {
  .SidebarNavContent {
    flex-direction: column;
  }
}

@media (max-width: 37.5rem) {
  .SideNav {
    display: block;
    width: 100%;
  }

  .SidebarNavContent {
    flex-direction: row;
    display: none;
  }

  .SideNavHeader {
    flex: 1;
    text-align: center;
  }

  .SidebarNavContentExpanded {
    display: flex;
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: #e9eded;
    z-index: 10;
    padding: 1rem;
    display: block;
  }
}
