.SideNavSectionHeader {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #263238;
}

.SideNavLinkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.SideNavLinkListItem {
  line-height: 2rem;
  padding-left: 1rem;
}

.SideNavLink {
  text-decoration: none;
  color: #546e7a;
}
.SideNavLink:hover {
  text-decoration: underline;
}

.SideNavLinkActiveLight,
.SideNavLinkActiveDark {
  display: block;
  position: relative;
  color: #D21922;
}

.SideNavLinkActiveLight:after,
.SideNavLinkActiveDark:after {
  display: inline-block;
  content: ' ';
  height: 0px;
  position: absolute;
  right: -1rem;
  width: 0px;
  border-bottom: 0.75rem solid transparent;
  border-top: 0.75rem solid transparent;
}
.SideNavLinkActiveLight:after {
  border-right: 0.75rem solid #fff;
}
.SideNavLinkActiveDark:after {
  border-right: 0.75rem solid #263238;
}

@media (max-width: 37.5rem) {
  .SideNavSectionHeader {
    font-size: 1.5rem;
  }

  .SideNavLinkListItem {
    line-height: 3rem;
  }

  .SideNavLink {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .SideNavLinkActiveLight:after,
  .SideNavLinkActiveDark:after {
    display: none;
  }
}
